Info_CertificateCountry:US
Info_CertificateLocality:Solana Beach
Info_CertificateOrganization:StackIQ
Info_CertificateState:California
Info_ClusterLatlong:N32.87 W117.22
Info_FQDN:{{ HOSTNAME }}.{{ DOMAIN }}
Kickstart_Keyboard:us
Kickstart_Lang:en_US
Kickstart_Langsupport:en_US
Kickstart_PrivateAddress:{{ BACKEND_NETWORK_ADDRESS }}
Kickstart_PrivateBroadcast:{{ BACKEND_BROADCAST_ADDRESS }}
Kickstart_PrivateDNSDomain:{{ DOMAIN }}
Kickstart_PrivateDNSServers:{{ DNS_SERVERS }}
Kickstart_PrivateEthernet:{{ BACKEND_MAC_ADDRESS }}
Kickstart_PrivateGateway:{{ GATEWAY }}
Kickstart_PrivateHostname:{{ HOSTNAME }}
Kickstart_PrivateInterface:{{ BACKEND_NETWORK_INTERFACE }}
Kickstart_PrivateKickstartHost:{{ BACKEND_NETWORK_ADDRESS }}
Kickstart_PrivateNTPHost:{{ BACKEND_NETWORK_ADDRESS }}
Kickstart_PrivateNetmask:{{ BACKEND_NETMASK }}
Kickstart_PrivateNetmaskCIDR:{{ BACKEND_NETMASK_CIDR }}
Kickstart_PrivateNetwork:{{ BACKEND_NETWORK }}
Kickstart_PrivateRootPassword:{{ SHADOW_PASSWORD }}
Kickstart_PublicNTPHost:pool.ntp.org
Kickstart_Timezone:{{ TIMEZONE }}
nukedisks:False
